.total {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.notepad {
    padding: 10px;
}

.example-enter {
    opacity: 0.01;
}
.example-enter.example-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in;
}
