.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #222;
  padding: 20px;
  text-align: center;
  color: white;
}

.App-content {
  flex: 1;
}

.Loader {
  display: flex;
  margin: auto;
}

.App-footer {
  text-align: right;
  padding: 20px;
  color: white;
  background-color: #222;
}
